body {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    background-color: #f4f4f4;
}

.header {
    text-align: center;
    width: 100%;
    display: center;
}

.column {
    display: inline-block;
    width: 47%;
    margin: 1.5%;
}

.footer {
    text-align: center;
    margin-top: 20px;
    color: #888;
}
